<section class="hero">
  <div class="hero__wrapper page-width">
    {%- if section.blocks.size > 0 -%}
      <div class="hero__content">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h1 class="hero__heading">
                {%- if block.settings.hero__heading != blank -%}
                  {{ block.settings.hero__heading }}
                {%- else -%}
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit
                {%- endif -%}
              </h1>
            {%- when 'description' -%}
              <p class="hero__description">
                {%- if block.settings.hero__description != blank -%}
                  {{ block.settings.hero__description }}
                {%- else -%}
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat
                {%- endif -%}
              </p>
          {%- endcase -%}
        {%- endfor -%}
        <div class="hero__buttons">
          {%- for button in section.blocks -%}
            {%- case button.type -%}
              {%- when 'buttons' -%}
                {% assign button_class = '' %}
                {% if forloop.index == 3 %}
                  {% assign button_class = 'hero__button--primary' %}
                {% elsif forloop.index == 4 %}
                  {% assign button_class = 'hero__button--secondary' %}
                {% endif %}
                <a href="{{ button.settings.hero__button_url }}" class="hero__button {{ button_class }}">
                  {{ button.settings.hero__button_text }}
                </a>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    {%- else -%}
      <div class="hero__content">
        <h1 class="hero__heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
        <p class="hero__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat
        </p>
        <div class="hero__buttons">
          <a class="hero__button hero__button--primary">Découvrir nos produits</a>
          <a class="hero__button hero__button--secondary">Appel confidentiel</a>
          {{ settings.type_header_font_family }}ww
        </div>
      </div>
    {%- endif -%}
  </div>
</section>
<style>
    {%- assign image = section.settings.hero__background_image | image_url: width: 1600 -%}
  .hero {
    width: 100%;
    height: calc(100vh - 84px);
    background-image: {% if section.settings.hero__background_checkbox  %} {{ section.settings.hero__background_color }} {% endif %}, {% if section.settings.hero__background_image %} url({{ image }});{% else %}url("{{ 'placeholder.jpg' | asset_url }}");{%endif%}
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__content{
    min-width: 280px;
  }
  .hero__heading{
    font-size: 38px;
    font-weight: {{ settings.type_header_font_weight }};
    font-family: {{ settings.type_header_font_family }};
    color: {{ section.settings.hero__heading_color }};
  }
  .hero__description{
    font-size: 18px;
    font-weight: {{ settings.type_body_font_weight }};
    font-family: {{ settings.type_body_font_family }};
    color: {{ section.settings.hero__description_color }};
  }
  .hero__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
     gap: 20px;
     min-width: 240px;
  }
  .hero__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-width: 180px;
    width: 240px;
    height: 55px;
    text-decoration: none;
  }
  .hero__button--primary{
    background-color: black;
    color: white;
  }
  .hero__button--secondary{
    background-color: green;
    color: white;
  }
  /* Example: Adjust padding for tablet and up */
  @media screen and (min-width: 750px) {
    .hero__heading{
        font-size: 48px;
    }
  }

  /* Example: Header layout changes for desktop */
  @media screen and (min-width: 990px) {
    .page-width{
        margin: 0 !important;
    }
    .hero {
        justify-content: start;
        align-items: center;
    }
    .hero__heading{
        font-size: 58px;
        max-width: 680px;
    }
    .hero__description{
        font-size: 20px;
        max-width: 680px;
    }
  }

  /* Example: Increase max width for large screens */
  @media screen and (min-width: 1200px) {
  }
</style>

{% schema %}
{
  "name": "Hero",
  "class": "hero",
  "limit": 1,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "hero__background_image",
      "label": "Background image",
      "info": "This is the background image for the hero"
    },
    {
      "type": "checkbox",
      "id": "hero__background_checkbox",
      "label": "Activate the background color",
      "info": "This is the background checkbox for the hero",
      "default": false
    },
    {
      "type": "color_background",
      "id": "hero__background_color",
      "label": "Background color",
      "info": "This is the background color for the hero",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "color",
      "id": "hero__heading_color",
      "label": "Heading color",
      "info": "This is the color for the heading",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "color",
      "id": "hero__description_color",
      "label": "Description color",
      "info": "This is the color for the description",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "name": "heading",
      "type": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "hero__heading",
          "label": "Heading",
          "info": "This is the heading for the hero",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        }
      ]
    },
    {
      "name": "description",
      "type": "description",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "hero__description",
          "label": "Description",
          "info": "This is the description for the hero",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing"
        }
      ]
    },
    {
      "name": "buttons",
      "type": "buttons",
      "limit": 2,
      "settings": [
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "hero__button_text",
          "label": "Button text",
          "info": "This is the primary button text",
          "default": "Découvrir nos produits"
        },
        {
          "type": "url",
          "id": "hero__button_url",
          "label": "Button URL",
          "info": "This is the URL for the button"
        },
        {
          "type": "color",
          "id": "hero__button_text_color",
          "label": "Button text color",
          "info": "This is the text color for the button",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "hero__button_bg_color",
          "label": "Button background color",
          "info": "This is the background color for the button",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "settings": {
        "hero__heading_color": "#000000",
        "hero__description_color": "#000000"
      },
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "description"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
