<<<<<<< HEAD
{{ 'section-hero.css' | asset_url | stylesheet_tag }}


<section class="hero">
    <div style="background-image: url('data:image/svg+xml,{{ 'lifestyle-1' | placeholder_svg_tag | escape }}'); background-size: cover; background-position: center;" class="hero__image">
        <div class="hero__box">
            <!-- Heading 1 and button -->
            <div class="hero__textButton">
                <h1 class="h1">Image Slider</h1>
                <button class="button">
                    <a class="">Shop Now</a>
                </button>
            </div>
            <hr class="hero__divider">
            <!-- Arrows and dots -->
            <div class="hero__iconNumbersDots">
                <div class="hero__iconNumbersDots--imgBlock">
                    <img class="hero__iconNumbersDots--imgBlock__left" width="24" height="24" src="{{ 'icon-arrow.svg' | asset_url }}">
                </div>
                <div class="hero__iconNumbersDots--dotsNum">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                </div>
                <div class="hero__iconNumbersDots--imgBlock">
                    <img class="hero__iconNumbersDots--imgBlock__right" width="24" height="24" src="{{ 'icon-arrow.svg' | asset_url }}">
                </div>
            </div>
        </div>
    </div>
    <div style="background-image: url('data:image/svg+xml,{{ 'lifestyle-1' | placeholder_svg_tag | escape }}'); background-size: cover; background-position: center;" class="hero__image">
        <div class="hero__box">
            <!-- Heading 1 and button -->
            <div class="hero__textButton">
                <h1 class="h1">Image Slider</h1>
                <button class="button">
                    <a class="">Shop Now</a>
                </button>
            </div>
            <hr class="hero__divider">
            <!-- Arrows and dots -->
            <div class="hero__iconNumbersDots">
                <div class="hero__iconNumbersDots--imgBlock">
                    <img class="hero__iconNumbersDots--imgBlock__left" width="24" height="24" src="{{ 'icon-arrow.svg' | asset_url }}">
                </div>
                <div class="hero__iconNumbersDots--dotsNum">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                </div>
                <div class="hero__iconNumbersDots--imgBlock">
                    <img class="hero__iconNumbersDots--imgBlock__right" width="24" height="24" src="{{ 'icon-arrow.svg' | asset_url }}">
                </div>
            </div>
        </div>
    </div>
    <div style="background-image: url('data:image/svg+xml,{{ 'lifestyle-1' | placeholder_svg_tag | escape }}'); background-size: cover; background-position: center;" class="hero__image">
        <div class="hero__box">
            <!-- Heading 1 and button -->
            <div class="hero__textButton">
                <h1 class="h1">Image Slider</h1>
                <button class="button">
                    <a class="">Shop Now</a>
                </button>
            </div>
            <hr class="hero__divider">
            <!-- Arrows and dots -->
            <div class="hero__iconNumbersDots">
                <div class="hero__iconNumbersDots--imgBlock">
                    <img class="hero__iconNumbersDots--imgBlock__left" width="24" height="24" src="{{ 'icon-arrow.svg' | asset_url }}">
                </div>
                <div class="hero__iconNumbersDots--dotsNum">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                </div>
                <div class="hero__iconNumbersDots--imgBlock">
                    <img class="hero__iconNumbersDots--imgBlock__right" width="24" height="24" src="{{ 'icon-arrow.svg' | asset_url }}">
                </div>
            </div>
        </div>
    </div>
</section>




{%- style -%}
    
{%- endstyle -%}

=======
<section>
    <div>
        <h1>Here goes the hero</h1>
    </div>
</section>

>>>>>>> 0c9daf597d4fe6d9a8e52c4ad43a332f3e18db28
{% schema %}
    {
        "name": "Hero",
        "class": "hero",
        "disabled_on": {
            "groups": ["header", "footer"],
        },
        "settings": [
        
        ],
        "presets":[
            {
                "name": "Hero"
            }
        ]
    }
{% endschema %}
