{% comment %} Capturing schemes color and assign it in the variable {% endcomment %}
{%- assign BACKGROUND_SCHEME_COLOR = section.settings.promotion_color_scheme_id.settings.background -%} 
{%- assign TEXT_SCHEME_COLOR = section.settings.promotion_color_scheme_id.settings.text -%} 
{% comment %} Capturing customs colors and assign it in the variable {% endcomment %}
{%- assign BACKGROUND_CUSTOM_COLOR = section.settings.promotion_custom_background_color_id -%}
{%- assign TEXT_CUSTOM_COLOR = section.settings.promotion_custom_text_color_id -%}
{% comment %} Capturing "enable custom background color and assign it into a variable" {% endcomment %}
 {%- assign ENABLING_CUSTOM_BACKGROUND_COLOR = section.settings.promotion_enable_custom_background_color_id -%}
{% comment %} Capturing border divider and assign it into a variable  {% endcomment %}
 {%- assign ENABLING_BORDER_DIVIDER = section.settings.promotion_enable_line_divider_id -%}

{% comment %} Capturing border color and assign it into a variable {% endcomment %}
{%- assign BOTTOM_COLOR_BORDER_DIVIDER = section.settings.promotion_bottom_color_line_divider_id -%}

{% comment %}Capturing the height and assign it into a variable {% endcomment %}
{%- assign HEIGHT = section.settings.promotion_background_height_id -%}
{% comment %} Annimation variables {% endcomment %}
 {%- assign MOBILE_ANIM = section.settings.promotion_animation_mobile_id -%}
 {%- assign TABLET_ANIM = section.settings.promotion_animation_tablet_id -%}
 {%- assign LARGE_ANIM = section.settings.promotion_animation_large_id -%}



<section class="promotion">
  <div class="promotion__wrapper">
    {% assign block_count = section.blocks.size %} <!-- Count the number of blocks -->
    {% assign total_blocks = 20 %} <!-- Target total number of blocks -->
   {% if block_count > 0 %}
      {% for i in (1..total_blocks) %}
        {% assign block_index = i | modulo: block_count %}        
        {% for block in section.blocks %}
          {% if forloop.index0 == block_index %}
            <div class="promotion__block">
              <p class="promotion__text">{{ block.settings.promotion_block_text_id }}</p>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
</section>
{% style %}
    .promotion{
        {%- if ENABLING_CUSTOM_BACKGROUND_COLOR == true -%}
            background: {{- BACKGROUND_CUSTOM_COLOR -}};
            color: {{- TEXT_CUSTOM_COLOR -}};
            {%- else -%} 
            background: {{- BACKGROUND_SCHEME_COLOR -}};
            color: {{- TEXT_SCHEME_COLOR -}};
        {% endif %}
        position: relative;
        width: 100%;
        overflow: hidden;
        {%- if ENABLING_BORDER_DIVIDER == true -%}
            border-bottom:  1px solid {{ BOTTOM_COLOR_BORDER_DIVIDER -}};
        {%- endif -%}
    }
    .promotion__wrapper{
        height: {{ HEIGHT -}}px;
        display: flex;
        align-items:center;
        white-space: nowrap;
        animation: anim-promotion var(--duration, {{- MOBILE_ANIM }}s) linear infinite running;
    }
    .promotion__block {
    display: inline-block;
    width: fit-content;
    text-align: center;
    padding: 0px 10px;
    margin-right: 20px;
    
  }
   .promotion__block .promotion__text{
    font-size: {{- section.settings.promotion_font_size_id -}}px;
  }
  .promotion__block .promotion__text  a{
    {%- if ENABLING_CUSTOM_BACKGROUND_COLOR == true -%}
        color: {{- TEXT_CUSTOM_COLOR -}};
        {%- else -%} 
        color: {{- TEXT_SCHEME_COLOR -}};
    {% endif %}
    text-decoration: none;
  }

  @keyframes anim-promotion {
    /* 0% {
      transform: translateX(100vw); 
    } */
    100% {
      transform: translateX(-100vw);
    }
  }
  /* Adjust the duration based on viewport width */
    @media (min-width: 600px) {
        .promotion__wrapper {
            --duration: {{- TABLET_ANIM }}s; /* Slower on larger screens */
        }
    }

    @media (min-width: 1200px) {
        .promotion__wrapper {
            --duration: {{- LARGE_ANIM }}s; /* Even slower on very large screens */
        }
    }
{% endstyle %}
{% schema %}
    { 
        "name": "Promotion",
        "settings": 
            [ 
                { 
                    "type": "header",
                    "content": "Background colors",
                    "info": "Choose between Schemes or custom color"
                }, 
                { 
                    "type": "color_scheme",
                    "id": "promotion_color_scheme_id", 
                    "label": "Color scheme", 
                    "default": "scheme_1" 
                },
                {
                    "type": "checkbox",
                    "id": "promotion_enable_custom_background_color_id",
                    "label": "Enable Custom Background Color",
                    "default": false
                },
                {
                    "type": "color",
                    "id": "promotion_custom_background_color_id",
                    "label": "Custom Background Color",
                    "default": "#000000",
                    "info": "Works only when 'Enable Custom Background Color' is toggle"
                },   
                {
                    "type": "color",
                    "id": "promotion_custom_text_color_id",
                    "label": "Custom Text Color",
                    "default": "#ffffff",
                    "info": "Works only when 'Enable Custom Text Color' is toggle"
                },                
                { "type": "checkbox", 
                    "id": "promotion_enable_line_divider_id", 
                    "label": "Enable line divider", 
                    "default": true 
                }, 
                {
                    "type": "color",
                    "id": "promotion_bottom_color_line_divider_id",
                    "label": "Border Color",
                    "default": "#000000",
                    "info": "Works only if 'Enable line divider' is activated"
                },
                { 
                    "type": "header", 
                    "content": "Settings" 
                },
                {
                    "type": "range",
                    "id": "promotion_background_height_id",
                    "label": "Height",
                    "unit": "px",
                    "min": 40,
                    "max": 100,
                    "step": 1,
                    "default": 40,
                    "info": "Promotion height"
                },
                {
                    "type": "range",
                    "id": "promotion_font_size_id",
                    "label": "Font size",
                    "unit": "px",
                    "min": 10,
                    "max": 20,
                    "step": 1,
                    "default": 16,
                    "info": "Promotion height"
                },
                {
                    "type": "header",
                    "content": "Animation speeds"
                },
                {
                    "type": "range",
                    "id": "promotion_animation_mobile_id",
                    "label": "Animation speed on mobile",
                    "min": 10, 
                    "max": 60,
                    "unit": "s",
                    "step": 1,
                    "default": 10,
                    "info": "Adjust the speed on the mobile screen"
                },
                {
                    "type": "range",
                    "id": "promotion_animation_tablet_id",
                    "label": "Animation speed on tablet",
                    "min": 10, 
                    "max": 60,
                    "unit": "s",
                    "step": 1,
                    "default": 15,
                    "info": "Adjust the speed on the tablet screen"
                },
                {
                    "type": "range",
                    "id": "promotion_animation_large_id",
                    "label": "Animation speed on large",
                    "min": 10, 
                    "max": 60,
                    "unit": "s",
                    "step": 1,
                    "default": 20,
                    "info": "Adjust the speed on the large screen"
                }   
            ], 
        "blocks": [
            {
                "type": "promotion",
                "name": "Promotion",
                "limit": 3,
                "settings": [
                    {
                        "type": "header",
                        "content": "Block content"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "promotion_block_text_id",
                        "label": "Enter your promotion here",
                        "default": "Welcome to our store"
                    }
                ]

            }
        ], 
        "enabled_on": { 
            "groups": [
                "header"
            ]
        }, 
        "presets": [ 
            { 
                "name": "Promotion",
                "blocks": [
                    {
                        "type": "promotion"
                    }
                ] 
            } 
        ] 
    } 
{% endschema %}
